a.nav-title.color-theme(href='#')
  span.color-highlight EAZY
  | MOBILE
span.nav-text.color-theme.opacity-50 Splendid Simplicity
.nav.nav-medium
  .divider
  a#page-welcome(href='index.html')
    i.fa.fa-star.color-yellow1-light
    span Welcome
    i.fa.fa-angle-right
  a#page-home(href='homepages.html')
    i.fa.fa-home.color-green1-dark
    span Homepages
    i.fa.fa-angle-right
  a#page-components(href='components.html')
    i.fa.fa-cog.color-blue2-dark
    span Components
    i.fa.fa-angle-right
  a#page-menus(href='navigations.html')
    i.fa.fa-bars.color-magenta2-dark
    span Navigations
    i.fa.fa-angle-right
  a#page-site-pages(href='pages.html')
    i.fa.fa-file.color-mint-dark
    span Site Pages
    i.fa.fa-angle-right
  a#page-pageapps(href='pageapps.html')
    i.fa.fa-heart.color-red1-dark
    span App Styled
    i.fa.fa-angle-right
  a#page-walkthrough(href='walkthroughs.html')
    i.fa.fa-check-circle.color-green1-light
    span Walkthrough
    i.fa.fa-angle-right
  a#page-media(href='media.html')
    i.fa.fa-camera.color-teal-dark
    span Media Pages
    i.fa.fa-angle-right
  a#page-cms(href='templates.html')
    i.fa.fa-shopping-bag.color-brown1-dark
    span Templates
    i.fa.fa-angle-right
  a#page-contact(href='page-contact.html')
    i.fa.fa-envelope.color-blue2-dark
    span Contact
    i.fa.fa-angle-right
  .divider.top-15
  p
    | Copyright 
    span.copyright-year
    |  - Enabled. All rights Reserved.
